body {
    background-color: lightpink;
    color: darkgreen;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: darkgreen;
    color: lightpink;
    padding: 10px;
    font-size: 12pt;
}

div.menu {
   border: 3px solid rgb(17, 85, 39);
   border-radius: 5px;
   width: 400px;
   margin: 0 auto;
}

div.menu:hover {
   background-color: rgb(242, 236, 241);
   box-shadow: 0 0 15px rgba(83, 78, 78, 0.67);
}
a {
   text-decoration: none;
   color: blueviolet;
   transition: 1s 2s;
}

a:link {
  color: blueviolet;
}

a:visited {
  color: rgb(99, 4, 39);
  opacity: 0.6;
}

a:hover {
  color: blue;
  text-decoration: underline;
  background-color: rgb(202, 174, 239);
  text-shadow: 10px 10px 20px rgba(72, 71, 73, 0.932);
  transition: 0.3s;
}

a:active {
  color: red;
  opacity: 0.6;
}

main {
    font-size: 14pt;
    line-height: 1.5;
    margin: 10px 20px 58.4px;
 }

 footer {
    background-color: darkgreen;
    color: lightpink;
    padding: 10px;
    font-size: 12pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
 }
